#panel-administrador{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(205, 209, 213);
    border-radius: 5px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 5%;
}

#texto-administracion{
    margin-left: 9%;
    width: 82%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(0, 136, 255);
}
td button{
    margin: 2%;
    margin-left: 3%;
}