*{
  margin: 0 auto;

}
.home{
  background-color: aliceblue;
}
#table{
  width: 60%;
  height: 50%;
}

i{
  color: black;
  border-radius: 3px;
}


#icon{
  background-color: rgb(127, 163, 255);
  margin-right: 5px;
}

.options{
  display: 'flex';
  align-items: 'center';
  justify-Content: 'center';
  min-Height: '40px' 
}

.qst{
  margin: 0;
}

.qst-container, .qstr-container{
 
  border-top: 1px solid rgb(204, 204, 204);
  border-right:1px solid rgb(204, 204, 204);
  border-left: 1px solid rgb(204, 204, 204);
  margin: 0;
  padding: 0;
  
}
.cancel-edit{
  display: none;
}
.edit{
  background-color:  rgb(244, 152, 3);
}
.edit:hover{
  background-color: rgb(255, 204, 0);
}

.view:hover, .save{
  background-color: rgb(10, 140, 214);
  
}
.save i{
  color: white;
}
.save:hover .clouda{
  color: black;
}
.save:hover{
  background-color: rgb(75, 174, 231);
}
.view i:hover {
  color: white;
}
.save-edit{
  display: none;
}